app = 'searxng-memfree'
primary_region = 'sjc'

[build]
  dockerfile = "Dockerfile.searxng"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']
  [http_service.concurrency]
    type = "requests"
    soft_limit = 10
    hard_limit = 15

[[http_service.checks]]
  grace_period = "10s"
  interval = "30s"
  method = "GET"
  timeout = "5s"
  path = "/"

[[vm]]
  memory = '256MB'
  cpu_kind = 'shared'
  cpus = 1

[deploy]
  strategy = "bluegreen"